.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #555;
  z-index: 50;
}

.my-dialog {
  position: fixed;
  left: 30vw;
  top: 15vh;
  width: 40vw;
  height: auto;
  background-color: #fff;
  z-index: 70;
  padding: 24px;
}
