.container-box {
  position: absolute;
  border: 1px grey solid;
  top: 10vh;
  left: 30vw;
  width: 40vw;
  height: auto;
}

.image {
  position: relative;
  max-width: 100%;
  height: 20rem;
  padding: 24px;
}
